# Database credentials
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=GiantTCRPro1
DB_NAME=group_project

# Aviationstack API Key
AVIATIONSTACK_API_KEY=e805616bb8890c16484a762e2b08fcef

# JWT Secret Key
JWT_SECRET_KEY=4b53fd9b33e273d22cccf6681f8eb578a2669a748fe40de3b1a4e0a4c2ec2fae